@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-primary"
    asp-action="Index"
    asp-controller="Inventory"
    asp-area="Inventory">Inventory</a>

<a class="btn btn-info"
    asp-action="Index"
    asp-controller="Billing"
    asp-area="Billing">Billing</a>

<a class="btn btn-danger"
    asp-action="Index"
    asp-controller="Checkout"
    asp-area="Checkout">Checkout</a>