@model Student

<h2>Create new student</h2>

<form asp-action="New" asp-controller="Student" method="POST" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id"/>

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control"/>
        <span asp-validation-for="FirstName" class="text-danger"/>
    </div>

    <div class="form-group">
        <label asp-for="MiddleName"></label>
        <input asp-for="MiddleName" class="form-control"/>
        <span asp-validation-for="MiddleName" class="text-danger"/>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control"/>
        <span asp-validation-for="LastName" class="text-danger"/>
    </div>

    <div class="form-group">
        <label>Upload Image</label>
        <input type="file" id="file" name="file" class="form-control"/>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</form>